<h2>New Celebrities</h2>

<form action="/celebrities" method="POST">
<label>
    Name:
    <input type="text" name="name">
  </label>
  <label>
    Occupation:
    <input type="text" name="occupation">
  </label>
  <label>
    Catch Phrases:
    <input type="text" name="catchPhrases">
  </label>


  <button type="submit">Create</button>
</form>